.row.g-3
              .col-md-5
                select#productSelect.form-select(name='product' onchange='autoFillPrice()')
                  option(value='' disabled selected) Select Product
                  each product in items
                    option(value='product._id')

                    //products section
                           //- tr
              //-   td #{product.name}
              //-   td #{product.category}
              //-   td UGX #{Number(product.buyingPrice || 0).toLocaleString()}
              //-   td UGX #{Number(product.sellingPrice || 0).toLocaleString()}
              //-   td #{product.stockQuantity}
              //-   td


                  if product.stockQuantity > 15
                    span.badge.bg-success In Stock
                  else if product.stockQuantity > 0
                    span.badge.bg-warning.text-dark Low Stock
                  else
                    span.badge.bg-danger Out of Stock