extends layout

block content

  .container.mt-5

    .card.p-4

      h2.text-center Receipt

      hr

      p
        strong Sales Rep:
        |  #{sale.representative}

      p
        strong Customer:
        |  #{sale.customerPhone}

      table.table

        thead
          tr
            th Product
            th Qty
            th Price
            th Total

        tbody
          each item in sale.items
            tr
              td= item.product
              td= item.qty
              td= item.price
              td= item.total

      h4.text-end
        | Transport:
        |  UGX #{sale.transportCharge.toLocaleString()}

      h3.text-end.text-success
        | Grand Total:
        |  UGX #{sale.grandTotal.toLocaleString()}